<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Console အတွက် Format (HH:mm:ss နှင့် Level ကို 3 လုံးပဲပြခြင်း) -->
		<target xsi:type="Console"
                name="console"
                layout="[${date:format=HH\:mm\:ss} ${level:uppercase=true:truncate=3}] ${message}${onexception:${newline}${exception:format=tostring}}" />

		<!-- File အတွက် Format (နေ့စွဲအပြည့်အစုံ ပါဝင်ခြင်း) -->
		<target xsi:type="File"
                name="file"
                fileName="${basedir}/logs/app-log-${shortdate}.txt"
                layout="[${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:uppercase=true:truncate=3}] ${message}${onexception:${newline}${exception:format=tostring}}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="console,file" />
	</rules>
</nlog>